<template>
    <div>
        <h1>{{msg}}</h1>
        <h1>{{valorAdicionado}}</h1>
        <button @click="incrementarContador">+</button>
        <button @click="decrementarContador">-</button>
    </div>
</template>

<script>
export default {
    name: "DataExample",
    props:['msg'],
    methods:{
        incrementarContador(){
            this.valorContador++;
        },
        decrementarContador(){
            this.valorContador--;
        },
    },
    computed:{
        valorAdicionado(){
            return this.valorContador + 1;
        }
    },
    data(){
        let valorContador = 0;
        return {
            valorContador,
        }
    },
}
</script>

<style scoped>

</style>
