<template>
    <div>
        <!--forma extensa-->
        <input type="text" placeholder="cpf"
               :value="cpf"
               @change="(event)=>{cpf=event.target.value}">
        <!--forma resumida-->
        <input type="text" placeholder="nome" v-model="nome">
        <input type="text" placeholder="apelido" v-model="apelido">
        <div v-if="exibirPessoas">
            <div v-for="pessoa in pessoas" :key="pessoa.cpf">
                <h1>{{'nome:' + pessoa.nome}}</h1>
                <h1>{{'apelido:' + pessoa.apelido}}</h1>
                <h1>{{'cpf:' + pessoa.cpf}}</h1>
                <button @click="deletarPessoa(pessoa.cpf)">excluir {{pessoa.nome}}</button>
            </div>
        </div>
        <button @click="mostrarPessoas">{{ exibirPessoas ? 'esconder todas as pessoas' : 'mostrar todas as pessoas' }}</button>
        <button @click="procurarPessoas">Procurar</button>
        <button @click="criarPessoa">Criar Pessoa</button>
    </div>
</template>

<script>
export default {
    name: "VmodelExample",
    methods: {
        procurarPessoas(){
            for(let i = 0; i < this.pessoas.length; i++){
                let pessoa = this.pessoas[i];
                if(pessoa.cpf === this.cpf){
                    console.log(pessoa);
                    return pessoa;
                }
                if(pessoa.nome === this.nome){
                    console.log(pessoa);
                    return pessoa;
                }
                if(pessoa.apelido === this.apelido){
                    console.log(pessoa);
                    return pessoa;
                }
            }
            return{}
        },
        mostrarPessoas(){
            this.exibirPessoas = !this.exibirPessoas;
        },
        deletarPessoa(cpf){
            let indexPessoaASerDeletada = null;
            for(let i = 0; i < this.pessoas.length; i++) {
                let pessoa = this.pessoas[i];
                if(pessoa.cpf === cpf){
                    indexPessoaASerDeletada = i;
                }
            }
            this.pessoas.splice(indexPessoaASerDeletada,1);
        },
        criarPessoa(){
            const novaPessoa = {
                cpf:this.cpf,
                nome: this.nome,
                apelido:this.apelido
            }
            this.pessoas.push(novaPessoa);
        }
    },
    data(){
        return {
            exibirPessoas: true,
            pessoas:[
                {cpf:'12345678912',nome:'Jurubeba',apelido:'juru'},
                {cpf:'05504669758', nome:'Carlos', apelido: 'cadu'},
                {cpf:'11111111111', nome:'Juninho', apelido: 'juju'}
            ],
            cpf:'',
            nome:'',
            apelido:''
        }
    },
}
</script>

<style scoped>

</style>
