<template>
  <div id="app">
      <div>
          <button @click="tabDataExample = !tabDataExample">{{tabDataExample ? 'alterar para v-model example' : 'alterar para data example'}}</button>
          <DataExample v-if="tabDataExample"/>
          <VmodelExample v-if="!tabDataExample"/>
      </div>
  </div>
</template>

<script>

import DataExample from "@/components/DataExample";
import VmodelExample from "@/components/VmodelExample";
export default {
    name: 'App',
    components: {VmodelExample, DataExample},
    data(){
        return {tabDataExample:true}
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
